<!DOCTYPE html>

<html>

<head>
	<title>About</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
		{{>header}}	
		<p>This site is great. Trust me.</p>
		<img class="portrait other" src="/img/a.jpg"></img>
	</div>
	
	{{>footer}}
</body>

<!--
<></>
<></>
-->

</html>

