<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Browse</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
	<div id="main-content">
	
		{{>header}}
		<h4 id="browse_info"></h4>
		
	</div>
	
	<!-- Getting the gallery id from the query: -->
	<script>
		var the_chosen_gal =  "{{gallery_id}}"
	</script>


	<div id="previews" class="rooms">
	</div>
	
	<div id="rooms" class="rooms">
	</div>
	

<!-- The Modal -->
	<div id="myModal2" class="modal_comments">

	  <!-- Modal content -->
	  <div class="modal_comments-content">
		<span class="close" id="close_modal">&times;</span>
		<p id="modal_p">Comments</p>
			<div class="scrollmenu" id="scroll_obj"> 
			<!-- A place for the modal Mustache template -->
			</div>
		<form id="form_modal">
			<input id="input_comment" placeholder="Write comment">
			<button>Add !</button>
		</form>
	  </div>

	</div>

	<button id="browse_butt" style="transform: translate(7%, 0%);"> Browse others </button>
	


	<div id="testowy"></div>
	
	<!-- Mustache Templates ________________________________________________ -->

	<!-- Mustache exhibit template: -->
	<script id="exhibit-template" type="text/html">
		<div class="exhibit">
			<img src="[[img_src]]" class="exhibit_category_image"></img>
			<div class="exhibit_bottom">
				<h5>[[prev_title]]</h5>
				<h6>[[prev_title2]]</h6>
			</div>
			<div class="exhibit_reaction" id=[[exhibit_id]]> [[like_nr]] </div>
            <img src="/img/points.png" class="exhibit_like" id=[[exhibit_id]] ></img>
            <img src="/img/comment.png" class="exhibit_comment" id=[[exhibit_id]]></img>		
		</div>
 
	</script>
		
	<!-- Mustache modal inner template  -->
	<script id="modal-inner-template" type="text/html">
		<div class="scrollmenu" id="scroll_obj">
			<ul>
				[[#comments]]
					<li><span class="scrollmenu_p">
						[[comment_content]]				
					</span>
					<div style="position: relative; width: 0; height: 0">
   					 <span class="delete_comment" id=0>×</span> 
					</div>

					
					</li>
					
				[[/comments]]
				
					
			</ul>
		</div>
	</script>
	
	
	{{>footer}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
	<script type="text/javascript" src="/js/logout.js"></script>
	<script type="text/javascript" src="/js/browse_specific_gallery.js"></script>
</body>

<!--
<></>
<></>
-->

</html>

