<!DOCTYPE html>

<html>

<head>
	<title>Browse</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
	<div class="main-content">
	
		{{>header}}	
		<p>Let's discover some shit.</p>
		
	</div>
	
	<div id="rooms" class="rooms">
	</div>
	
	{{>footer}}
	<script type="text/javascript" src="/js/logout.js"></script>
	<script type="text/javascript" src="/js/browse_galleries.js"></script>
</body>

<!--
<></>
<></>
-->

</html>

