<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Favourites</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
	<div class="main-content">
		{{>header}} 
		<p> Check out what has grabbed your attention. </p>
	</div>
	
	<div id="divi">
		<table id="table">
			<tr>
				<th> User name</th>
				<th> Region</th>
				<th> Gallery</th>
			</tr>
		</table>
	</div>
	<p></p>
	{{>footer}}
	
	<script src="/js/favourites.js"></script>
	<script type="text/javascript" src="/js/logout.js"></script>
</body>
