<!DOCTYPE html>

<html>

<head>
	<title>Gallery</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	{{>header}}
	<h3>Gallery creation</h3>
	<p>Here you can create your own gallery!</p>
	
	
	{{>footer}}
	
	<script src="/js/logout.js"></script>
</body>

<!--
<></>
<></>
-->

</html>

