<!DOCTYPE html>

<html>

<head>
	<title>Gallery</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
	<!-- <script src="../node_modules/jquery/dist/jquery.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
	{{>header}}
	<p>Here you can create your own gallery!</p>
	
	<p id="gal_info"> </p>
	
	<div id="rooms" class="rooms">
	</div>
	
	<!-- <p></p> -->
	<button id="new_cat_butt" style="transform: translate(7%, 0%);"> Add category </button>
	
	
	
	<!-- The Modal -->
	<div id="myModal" class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
		<span class="close" id="close_modal">&times;</span>
		<p id="modal_p">Some text in the Modal..</p>
		<form id="form_modal">
			<input id="input_title" placeholder="Title">
			<select id="input_comboBox" style="width:100px; padding: 6px 8px; ">
				<option value="Book">Book</option>
    			<option value="Song">Song</option>
  				<option value="Quote">Quote</option>
   				<option value="Place">Place</option>
				<option value="Person">Person</option>
				<option value="Perfume">Perfume</option>
				<option value="Invention">Invention</option>
				<option value="Game">Game</option>
				<option value="Film">Film</option>
				<option value="Dish">Dish</option>
			</select>
			<input id="input_content" placeholder="Content">
			<button>Add !</button>
		</form>
	  </div>

	</div>
	
	<!-- Mustache exhibit template -->
	<script id="exhibit-template" type="text/html">
		<div class="exhibit" id="[[exhibit_id]]">
			<span class="delete_exhibit" id="[[span_id]]">×</span>
			<img src="[[img_src]]" class="exhibit_category_image"></img>
			<div class="exhibit_bottom">
				<h5>[[prev_title]]</h5>
				<h6>[[prev_title2]]</h6>
			</div>
		</div>
	</script>
	
	
	{{>footer}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
	<script src="/js/display_my_gallery.js"></script>
	<script src="/js/logout.js"></script>
</body>

<!--
<></>
<></>
-->

</html>

