<!DOCTYPE html>

<html>

<head>
	<title>Gallery</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	{{>header}}
	<p>Use this site to create your gallery.</p>
	<form>
		<input placeholder="User name">
		<input placeholder="Password">
		<button>Log in</button>
	</form>
	{{>footer}}
	
	<script src="/js/login.js"></script>
</body>

<!--
<></>
<></>
-->

</html>

