<! DOCTYPE html>
<html>

<head> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title> Gallery </title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div id="page-container">
		<div id="content-wrap">
			<h1>{{title}}</h1> 
			
			<form id="form_login">
				<input id="input_login_email" placeholder="email">
				<input type="password" id="input_login_pass" placeholder="password">
				<button>Sign in</button>
			</form>
			


			<h2>About the Gallery</h2>
			<p>The purpose of this site is to connect people that have similar passions.</p>
			<img class="landscape" src="/img/a.jpg"></img>
			<p> We want to give people the opportunity to share their 
				interests and help them find people with similar tastes in art and lifestyle.</p>		
			
			
			<br/>
			<div class="row">
				<div class="column">
					<br/>
					<img width="400" src="/img/b.png"></img>
				</div>
				<div class="column">
					<h2>Create!</h2>
					<p style="font-size: 18px;">The first thing will be to create your gallery. It means choosing your favourite positions
						among films, music, books or even perfumes or inventions. This will <strong>define your taste</strong> 
						and help others to appreciate it. 
					</p>
					<p style="font-size: 18px;">You can easily add these things to the gallery and display for the world wide audience. So that other users see what interests you.</p>
					<p style="font-size: 18px;"> Once you're happy with your choices there's nothing else left to do than to discover the galleries of other people! </p>	
				</div>
			</div>
			

			<br/>
			<h2>Time to discover</h2>
			<p>You can browse galleries of other people. Leave them a like or a comment and start a new friendship!</p>
				<img class="landscape" src="/img/c.png"></img>


			<br/>
			<div class="row">
				<div class="column">
					<h2>The matching algorithm</h2>
					<p style="font-size: 22px;"> A sophisticated search engine helps you find people with similar tastes. 
						It creates a list of galleries that you may find interesting based on your likes 
						and comments and takes under consideration the preferences of users whose galleries you liked. 
						It gives you the opportunity to find someone who values similar things as you.</p>
				</div>
				<div class="column">
					<br/>
					<img width="400" src="/img/d.png"></img>
				</div>
			</div>
			
			<br/>
			<div style="text-align: center">
				<h2>Let's create the account</h2>
				<form id="form_signup">
					<p><input id="input_name" placeholder="User name *"></p>
					<p><input id="input_email" placeholder="Email *"></p>
					<p><input type="password" id="input_pass" placeholder="Password *"></p>
					<p><input id="input_city" placeholder="City"></p>
					<p><input id="input_country" placeholder="Country"></p>
					<button>Sign up</button>
				</form>
			</div>
			<p id="message"> </p>
		</div>
		{{>footer}}
	</div>
	
	<script src="/js/start.js"></script>
</body>

</html>