<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>{{title}}</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
		{{>header}} 
		<h3> Hello, {{name}}! </h3>
		<p>This is your profile </p>
		<img class="portrait" src="/img/user.jpg"></img>
	</div>

	{{>footer}}
	<script type="text/javascript" src="/js/logout.js"></script>
</body>
