<!DOCTYPE html>

<head>
	<title>{{name}}</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
		{{>header}} 
		<p> Hello, {{name}}! This is your profile </p>
		<img class="portrait other" src="/img/user.jpg"></img>
	</div>

	{{>footer}}
</body>
