<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title> Weather </title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div id="page-container">
		<div id="content-wrap">
			<div class="weather-content">
				{{>header}}
				
				<p> Let's check the whether in the place where the author
					of your favourite gallery is living, so you can have a topic for a small talk! 
				</p>

				<form>
					<input placeholder="Location">
					<button>Search</button>
				</form>
				
				<p id="message-1"> </p>
				<p id="message-2"> </p>
			</div>
		</div>
		{{>footer}}
	</div>
		
	<script src="/js/weather.js"></script>
	<script type="text/javascript" src="/js/logout.js"></script>
</body>

</html>