
<header>
	<h1> 
		{{title}}
	</h1>
	<a href="/">Gallery</a>
	<a href="/browse_galleries">Browse</a>
	<a href="/favourites">Favourites</a>
	<a href="/settings">Settings</a>
	<a class="weather_link" href="/weather">Weather</a>
	<a id="logout_b" onmouseover="" style="cursor: pointer;" >Logout</a>

</header>
