/* NAJPIERW WERSJA MOBILNA!!! */

body {
	//background-color: lightgreen;
	font-family: arial;
	width: 600px;//
	//max-width: 1100px; //650px;
	margin: 0 auto;
	padding: 0 16px;
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

input{
	border: 1px solid #cccccc;
	padding: 8px;
}

button{
	cursor: pointer;
	min-width: 100px;
	max-width: 150px;
	margin-top: 16px;
	border: 1px solid #888888;
	background: #888888;
	color: white;
	padding: 8px; 
}

h1{
	font-size: 48px;
	margin-bottom: 30;
}

.button_small{
	color: black;
	background-color: lightgray;
	display: inline;
	margin-top: 0px;
	padding: 6px; 
}



.column {
	float: left;
	width: 50%;
}
  
  /* Clear floats after the columns */
.row:after 
{
	content: "";
	display: table;
	clear: both;
}



.weather-content{
	flex-grow: 1;
}

footer{
	color: #888888;
	border-top: 1px solid #eeeeee;
	margin-top: 1px; //bylo 16
	padding: 1px 0;  //bylo 16
}

header{
	margin-top: 16px;
	margin-bottom: 48px;
}

header a{
	color: #888888;
	margin-right: 16px;
	text-decoration: none;
}



/*   Displaying gallery */
.room{
	content: "";
	//display: table;
	display:block;
	clear: both;
	height:130px;
	margin-bottom: 60px;
}

.exhibit{
	//color: red;
	position: relative;
	float: left;
	text-align: center;
	width: 17%; //18%;
	height: 80%;
	padding: 5px;
	margin: 1px;
	border: 1px solid;
	border-radius: 0px;//8px;
	//line-height: 1.5;
	 vertical-align: middle;
}

button.exhibit{
	height: 90%;
}


.exhibit_category_image{
	width: 60px;
}

.exhibit_bottom{
	position: absolute;
	width: 95%;
	bottom:  0;
	margin-left: auto;
	margin-right: auto;
}

.exhibit_like{
	position: absolute;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	width: 50px;
	bottom:  -20px;
	left: 0;
	
}



.exhibit_comment{
	position: absolute;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	width: 50px;
	bottom:  -20px;
	right: 0;
	
}


.exhibit_reaction{
     font-size: 11px;	
    position: absolute;
	bottom:  -19px;
	left: 35px;
}


.exhibit_bottom h5, h6{
	margin: 0;
	padding: 0;
}

/* Displaying galleries' previews */
.previews_line{
	content: "";
	//display: table;
	display:block;
	clear: both;
	height:230px;
	//margin-bottom: 60px;
}

.preview{
	//display:block;
	position: relative;
	float: left;
	text-align: center;
	width: 30%; //18%;
	height: 94%;
	padding: 5px;
	margin: 2px;
	//border: 0.5px solid;
	border: 1px solid;
	border-radius: 5px;//8px;
	//line-height: 1.5;
	 vertical-align: middle;
}

.preview_bottom{
	position: absolute;
	width: 95%;
	bottom:  0;
	margin-left: auto;
	margin-right: auto;
}

.delete_exhibit{
	color: #aaa;
	display: none;
	position: absolute;
	transform: translate(400%, -30%);
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus,
.delete_exhibit:hover,
.delete_exhibit:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.comment{
	position: absolute;
	transform: translate(-200%, 100%);
	width: 40%;
	//height: 10px;
}

.like{
	width: 5px;
	//height: 10px;
}


/* 3 pozycje z kursu:  */
.weather_link{
	color: #B0E0E6;
}

.landscape{
	width: 500px;
}

.portrait {
	width: 120px;
}

.scrollmenu {
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}

.scrollmenu_p {
  display: block;
  height: 26px;
  padding: 14px;
  font-size: 12px;
  max-width: 450px;
  //border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
 
#input_comment{
	width: 75%;
}



/*   Table of favourite galleries */
table{
	border-collapse: collapse;
	width: 100%;
}

th,td{
	padding: 7px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover{ background-color: #f5f5f5;}
 
.button_table{
	cursor: pointer;
	min-width: 80px;
	max-width: 100px;
	min-height: 30px;
	margin-top: 0px;
	border: 1px solid #888888;
	background: rgb(253, 148, 109);
	color: black;
	padding: 0px; 
}
 
 
.modal_comments{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_comments-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
	min-width: 500px;
}

.modal_comment_line{
	width: 390px;
	height: 4px;
	border-bottom: 1px solid #888;;
	position: relative;
	}

.modal_comments-user {
	color: rgb(0, 0, 0);
	position: absolute;
	left: -14px;
	bottom: 25px;
	font-size: 11px;
	
}

.modal_comments-date{
	color: solid #888;
	position: absolute;
	left: 350px;
	bottom: 25px;
	font-size: 8px;
}

.delete_comment{
	color: #aaa;
	position: relative;
	width: 0px;
	height: 0px;
	left: 400px;
	bottom: 24px;
	display: none;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus,
.delete_comment:hover,
.delete_comment:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
 







 /* The Modal (background)   (when adding an exhibit) */ 
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
	min-width: 500px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.delete{
	color: #aaa;
	display: none;
	position: absolute;
	transform: translate(230%, -30%);
	font-size: 28px;
	font-weight: bold;
}



#drop_zone {
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  width:  90%;
  height: 100px;
}
#drop_zone,
#modal_button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}




/* DESKTOP */
@media only screen and (min-width: 600px) {
	body {
		color: #333333;
		font-family: arial;
		width: 600px;
		// //max-width: 1100px;
		//650px;
		margin: 0 auto;
		padding: 0 16px;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	input{
		border: 1px solid #cccccc;
		padding: 8px;
	}

	button {
		cursor: pointer;
		min-width: 60px;
		max-width: 100px;
		border: 1px solid #888888;
		background: #888888;
		color: white;
		padding: 8px;
	}
	
	h1{
		font-size: 64px;
		margin-bottom: 16;
	}
}



